venv/
.pytest_cache
lab01/__pycache__
lab-04/.venv/*
lab-01/backend/__pycache__/
lab-04/backend/node_modules/
lab-04/backend/.serverless/
lab-04/backend/node_modules/type/ts-types/ensure.d.ts
lab-04/backend/.venv/
lab-01/__pycache__/
lab-04/backend/__pycache__/
lab-05/.venv/*
lab-05/__pycache__/
lab-01/__pycache__/
lab-05/node_modules/*
lab-05/.serverless/*
lab-06/*
